<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
       <Properties>
		<Property name="basePath">./logs</Property>
	</Properties>
 
  <Appenders>
      <RollingFile name="File" fileName="${basePath}/eCommerceAutomationExecLog.log" filePattern="${basePath}/eCommerceAutomationExecLog-%d{yyyyMMdd}%d{HHmmssSSS}.log">
     <PatternLayout pattern="%d{yyyy/MM/dd} %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="10000" />
          </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy/MM/dd} %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>